<nav>
  <span class="brand">&#128229; Facebook Comments Exporter</span>
  <div class="nav-right">
    <% if (locals.userName) { %>
      <span><%= userName %></span>
      <a href="/logout">Log out</a>
    <% } %>
  </div>
</nav>
